Disciplines and number of participants: 
1. Football 4
2. Athletics 4
3. Weightlifting 4
4. Volleyball 4

Kazakhstan Germany Ukraine 

Ukraine Denmark Argentina 
Turkey Kazakhstan Germany 
Brazin Ukraine England 
Country: Argentina
1. Volleyball 3

Country: Brazin
1. Football 1

Country: Denmark
1. Volleyball 2

Country: England
1. Football 3

Country: Germany
1. Weightlifting 2
2. Athletics 3

Country: Kazakhstan
1. Weightlifting 1
2. Athletics 2

Country: Turkey
1. Athletics 1

Country: Ukraine
1. Volleyball 1
2. Football 2
3. Weightlifting 3


